.isloading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.lucide_loader_circle {
    height: 30px;
    width: 30px;
    animation: spin 1s linear infinite;
}

.loading_text {
    font-size: 14px;
    line-height: 1.428571;
    color: #a1a1a1;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 30px;
    height: 100%;
    width: 100%;
}

.title {
    font-size: 16px;
    color: inherit;
}

.chart {
    height: 380px;
    width: 100%;
}

@media (width >= 48rem /* 768px */) {
    .lucide-loader-circle {
        height: 40px /* 2.5rem = 40px */;
        width: 40px;
        animation: spin 2s linear infinite;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.error_container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.error_text {
    color: red;
    font-size: 17px;
    font-weight: normal;
    font-family: inherit;
}
